body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


.logo {
    width: 800px; /* Increased width for better visibility */
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05); /* Logo hover effect */
}

.history-title {
    font-size: 36px;
    color: #333;
    margin: 20px 0;
    transition: color 0.3s;
}

.history-title:hover {
    color: #4aba71; /* Change color on hover */
}

.image-container {
    margin: 0; /* Removed margin around the image */
}

.centered-image {
    width: 107%; /* Full width of screen */
    height: auto; /* Maintain aspect ratio */
}
.empty-button {
    background: transparent; /* Make it transparent */
    border: none; /* Remove any border */
    width: 30px; /* Adjust width as needed for spacing */
    height: 40px; /* Adjust height as needed */
    visibility: visible; /* Make sure it’s visible */
}
.button-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 buttons in each row */
    gap: 20px; /* Adjust gap for better spacing */
    margin-top: 0; /* Removed any extra space above the buttons */
    padding: 0; /* Remove padding around the button container */
}
.button-container2 {

    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 7 buttons in each row */
    gap: 50px; /* Adjust gap for better spacing */
    margin-top: 0; /* Remove any extra space above the buttons */
    padding: 0; /* Remove padding around the button container */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}


.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-button {
    border: 2px solid transparent; /* Default transparent border */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s; /* Added border-color to transition */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:  bold;
}

.history-button-gray {
  border: 3px solid gray;
  color: gray;
}

.history-button-red {
    border: 3px solid red;
    color: red;
}

.history-button-green {
    border: 3px solid green;
    color: green;
}

.history-button:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.button-back {
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid #d0595d;
    border-radius: 35px;
    color: white;
    background-color: #d0595d;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin: 20px 0; /* Margin for separation */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-back:hover {
    background-color: #f8d6d6;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Media query for small screens */
@media (max-width: 600px) {
    .history-button {
        width: 60px;
        height: 60px;
        font-size: 18px;
    }

    .history-title {
        font-size: 28px; /* Smaller title for mobile */
    }

    .logo {
        width: 150px; /* Smaller logo for mobile */
    }

    .button-container {
        grid-template-columns: repeat(3, 1fr); /* 3 buttons in each row for smaller screens */
    }
}
.services-container1 {
    max-width: 1400px;
    width: 100%;
    padding: 50px;
    /* background-color: white; */
}
.corner-image {
    position: absolute;
    width: 100px;
    height: 200px;
    opacity: 1;
    z-index: 1;
}

.top-left {
    top: 4px;
    left: 4px;
}

.top-right {
    top: 0px;
    right: 0px;
    transform: rotate(180deg);
}

.bottom-left {
    bottom: 0px;
    left: 0px;
}

.bottom-right {
    bottom: 4px;
    right: 4px;
}
