@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-back {
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid #d0595d;
    border-radius: 35px;
    color: white;
    background-color: #d0595d;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin: 20px 0; /* Margin for separation */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-back:hover {
    background-color: #f8d6d6;
    transform: scale(1.05);
}

.container-new {
    width: 100%;
    padding: 80px 20px; /* Responsive padding */
    background-color: white;

}

/* Logo styling */
.logo-new {
    width: 600px; /* Set a fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto 30px; /* Center the logo with bottom margin */
}

/* Main text styling */
.main-text-new {
    font-family: "Century Gothic", "Gothic A1", sans-serif;
    font-size: 60px; /* Increase font size for main text */
    margin: 30px 0 40px; /* Vertical margin */
    color: #4aba71;
    font-weight: 800;
    text-align: center; /* Center the text */
}

/* Button group styling */
.button-group-new {
    display: flex; /* Flexbox to align buttons in a row */
    justify-content: center; /* Center buttons */
    align-items: center; /* Center buttons vertically */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin-bottom: 60px;
}

/* Buttons styling */
.button-green-new {
    padding: 20px 40px; /* Increase padding for larger buttons */
    font-size: 30px; /* Larger font size for buttons */
    margin: 15px; /* Space between buttons */
    border: 2px solid #4aba71; 
    border-radius: 30px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s ease;
    color: #4aba71;
    background-color: white;
    text-align: center; /* Center-align text */
    min-height: 80px; /* Set a minimum height for buttons */
    width: 250px; /* Fixed width for uniformity */
}

.button-green-new:hover {
    background-color: #a7dcaa;
    transform: scale(1.05);
}

/* Corner images styling */
.corner-image {
    position: absolute;
    width: 150px; /* Adjust corner image size */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.8;
    z-index: 1;
}

.top-left-shape {
    top: 0px; /* Adjust position as needed */
    left: 0px;
}

.top-right-shape {
    top: 0px; /* Adjust position if needed */
    right: 0px;
}

.bottom-left-shape {
    bottom: 0px;
    left: 0px;
}

.bottom-right-shape {
    bottom: 0px;
    right: 0px;
}
