@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-back10 {
    padding: 15px 40px;
    font-size: 20px;
    border: 1px solid #d59d9f; /* Lighter border color */
    border-radius: 30px;
    color:  #d6d6d6 ;
    background-color: #f5f5f5; /* Softer background color */
    transition: background-color 0.3s, transform 0.3s ease; /* Mild transition */
    cursor: pointer; /* Add pointer cursor for a better user experience */
}

.button-back:hover {
    background-color: #f8d6d6;
    transform: scale(1.05);
}

.container-new {
    width: 100%;
    padding: 80px 20px; /* Responsive padding */
    /* background-color: white; */

}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;   
    }
}

/* Logo styling */
.logo-new {
    width: 1100px; /* Set a fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto 30px; /* Center the logo with bottom margin */
    animation: fadeIn 2s ease-out; /* Adjust the duration and easing as needed */
}

/* Main text styling */
.main-text-new {
    font-family: "Century Gothic", "Gothic A1", sans-serif;
    font-size: 50px; /* Increase font size for main text */
    margin: 90px 0 90px; /* Vertical margin */
    color: #4aba71;
    font-weight: 800;
    text-align: center; /* Center the text */
}

/* Button group styling */
.button-group-new1 {
    display: flex; /* Flexbox to align buttons in a row */
    justify-content: space-between; /* Center buttons */
    align-items: center; /* Center buttons vertically */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin-bottom: 60px;
    
    
}

/* Buttons styling */
.button-green-new {
    padding: 35px 65px; /* Increase padding for larger buttons */
    font-size: 30px; /* Larger font size for buttons */
    margin: 35px; /* Space between buttons */
    margin-right: 100px;
    border: 2px solid #4aba71; 
    border-radius: 55px 0px 55px 55px ; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s ease;
    color: #4aba71;
    background-color: white;
    text-align: center; /* Center-align text */
    min-height: 80px; /* Set a minimum height for buttons */
    width: 300px; /* Fixed width for uniformity */
}

.button-green-new:hover {
    background-color: #a7dcaa;
    transform: scale(1.05);
}

/* Corner images styling */
.corner-image {
    position: absolute;
    width: 150px; /* Adjust corner image size */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.8;
    z-index: 1;
}

.top-left-shape {
    top: 0px; /* Adjust position as needed */
    left: 0px;
}

.top-right-shape {
    top: 0px; /* Adjust position if needed */
    right: 0px;
}

.bottom-left-shape {
    bottom: 0px;
    left: 0px;
}

.bottom-right-shape {
    bottom: 0px;
    right: 0px;
}
