.services-container {
    max-width: 1400px;
    width: 100%;
    padding: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply fade animation to logo */
.services-logo4 {
    width: 1100px;
    margin: 0 auto 40px;
    animation: fadeIn 2s ease-out; /* Adjust the duration and easing as needed */
}

/* Main text styling */
.services-main-text {
    font-family: "Century Gothic", "Gothic A1", sans-serif;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d0595d;
    font-weight: 800;
    text-align: center;
}

/* Button styling */
.services-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.services-button-green {
    padding: 25px 50px;
    font-size: 30px;
    border: 2px solid #d0595d;
    color: #d0595d;
    background-color: white;
    transition: background-color 0.3s, transform 0.5s ease;
}

/* Add border-radius styling */
.left-buttons .services-button-green:nth-child(1) {
    border-radius: 50px 50px 0 50px;
    margin-bottom: 12px;

}
.left-buttons .services-button-green:nth-child(2) {
    border-radius: 50px 0 50px 50px;
}

.right-buttons .services-button-green:nth-child(1) {
    border-radius: 50px 50px 50px 0;
    margin-bottom: 12px;
}
.right-buttons .services-button-green:nth-child(2) {
    border-radius: 0 50px 50px 50px;
}

.center-button .services-button-green {
    border-radius: 50px 50px 50px 0;
}

.services-button-green:hover {
    transform: scale(1.05);
}

/* Back to Home Button */
/* Back to Home Button with a mild appearance */
.button-back4 {
    padding: 15px 40px;
    font-size: 20px;
    border: 1px solid #d59d9f; /* Lighter border color */
    border-radius: 30px;
    color: #d0595d; /* Keep the text color consistent with the theme */
    background-color: #f5f5f5; /* Softer background color */
    transition: background-color 0.3s, transform 0.3s ease; /* Mild transition */
    cursor: pointer; /* Add pointer cursor for a better user experience */
}

.button-back4:hover {
    background-color: #e9e9e9; /* Subtle hover effect */
    transform: translateY(-1px); /* Slight hover lift */
}

.button-back4:active {
    transform: translateY(0); /* No extra boldness when active */
}


.services-container .services-main-text {
    color: #d0595d;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 80px;
}
