/* Simple smooth fade-in/out transitions */
.page-enter {
    opacity: 0; /* Start invisible */
  }
  
  .page-enter-active {
    opacity: 1; /* Fade in */
    transition: opacity 2000ms linear; /* Constant smooth fade */
  }
  
  .page-exit {
    opacity: 1; /* Fully visible */
  }
  
  .page-exit-active {
    opacity: 0; /* Fade out */
    transition: opacity 2000ms linear; /* Constant smooth fade */
  }
